<div class="row">
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        LIVE MATCHES
      </div>
      <div class="match-list scrollbar-dynamic" jquery-scrollbar>
        <table class="table table-responsive table-hover">
          <tbody>
            <tr ng-repeat="match in matches._array | filter:{completed:false} | orderBy:'-started_at'"
              ng-click="show(match)"
              ng-class="{active: match.match_id == matches._current_id}"
              class="match-item">
              <td width="40%">{{ match.radiant_team.team_name || "[Radiant]" }}</td>
              <td width="20%" class="text-center">{{ match.current_score.radiant || 0 }}&nbsp;-&nbsp;{{ match.current_score.dire || 0}}</td>
              <td width="40%">{{ match.dire_team.team_name || "[Dire]" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        RECENT MATCHES
      </div>
      <table class="table table-responsive table-hover match-list">
        <tbody>
          <tr ng-repeat="match in matches._array | filter:{completed:true} | orderBy:'-started_at' | limitTo:5"
            ng-click="show(match)"
            ng-class="{active: match.match_id == matches._current_id}"
            class="match-item">
            <td width="40%">{{ match.radiant_team.team_name || "[Radiant]" }}</td>
            <td width="20%" class="text-center">{{ match.current_score.radiant || 0 }}&nbsp;-&nbsp;{{ match.current_score.dire || 0}}</td>
            <td width="40%">{{ match.dire_team.team_name || "[Dire]" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <dota-match-log match="matches[matches._current_id]"></dota-match-log>
  </div>
  <div class="col-md-3">
    <dota-match-map match="matches[matches._current_id]"></dota-match-map>
    <dota-match-info match="matches[matches._current_id]"></dota-match-info>
  </div>
  <div class="col-md-6">
    <dota-match-chart match="matches[matches._current_id]"></dota-match-chart>
    <dota-match-players match="matches[matches._current_id]"></dota-match-players>
  </div>
</div>
