<div class="row">
    <div class="input-group col-md-4 col-md-offset-4">
      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="leagues._filter_text">
    </div>
</div>
<br />
<div class="row leagues" masonry>
    <div class="col-md-6 col-sm-12 masonry-brick" ng-repeat="league in (leagues._filtered_array = (leagues._array | filter:leagues._filter_text | orderBy:'-last_match_at') | limitTo:leagues._items_per_page:((leagues._current_page-1)*leagues._items_per_page))">
        <div class="media league card">
            <div class="media-left">
                <a href="{{ league.tournament_url }}" ng-if="league.tournament_url.length > 0"
                    title="{{ league.name }}" target="_blank">
                    <img ng-src="/images/dota/leagues/league_{{ league.league_id }}.png"
                        err-src="http://placehold.it/256x170?text=LiveDota" style="height: 170px;"/>
                </a>
                <img ng-src="/images/dota/leagues/league_{{ league.league_id }}.png"
                    err-src="http://placehold.it/256x170?text=LiveDota" style="height: 170px;"
                    ng-if="league.tournament_url.length == 0"/>
            </div>
            <div class="media-body">
                <h4>{{ league.name }}</h4>
                <span class="label label-default" ng-if="league.last_match_at">
                    Last activity: <span am-time-ago="league.last_match_at" class=""></span>
                </span>
                <div class="description">
                    {{ league.description }}
                </div>
                <a href="{{ league.tournament_url }}" ng-if="league.tournament_url.length > 0"
                    title="{{ league.name }}" target="_blank"
                    class="btn btn-primary">
                    <i class="glyphicon glyphicon-new-window"></i> Website
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="text-center">
    <pagination total-items="leagues._filtered_array.length" ng-model="leagues._current_page"
        items-per-page="leagues._items_per_page" max-size="10"
        boundary-links="true">
    </pagination>
</div>
