<!DOCTYPE html>
<html ng-app="liveDotaApp">
  <head>
    <title>LiveDota</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    
    <!--STYLES-->
    <!--STYLES END-->
    
    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </head>
  <body ng-controller="appController">
    <div class="navbar navbar-default">
       <div class="navbar-header">
        <a class="navbar-brand" ui-sref="live">LiveDOTA</a>
      </div>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="live">LIVE <span class="badge">{{ status.timer }}s</span></a></li>
        <li ui-sref-active="active"><a ui-sref="leagues">LEAGUES</a></li>
        <li ui-sref-active="active"><a ui-sref="matches">MATCHES</a></li>
        <li class="divider-vertical"></li>
        <li class="disabled"><a href="#">STREAMS</a></li>
        <li class="disabled"><a href="#">APP</a></li>
      </ul>
    </div>
    <div class="container-full" ui-view>
    </div>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65267750-1', 'auto');
    ga('send', 'pageview');

  </script>
</html>
