body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.navbar, .panel-heading, .panel-footer, .table thead {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.match-list {
  // tbody {
    // display: block;
    max-height: 273px;
    overflow:auto;
    
    .match-item {
      cursor: pointer;
    }
  // }
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}
.matches-grid::before {
  content: '4 .col-md-3';
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-clip: padding-box;
  margin-bottom: 10px;
  
  span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card-image {
    position: relative;
    overflow: hidden;
    
    img {
      border-radius: 2px 2px 0 0;
      background-clip: padding-box;
      position: relative;
      z-index: -1;
      width: 100%;
    }
    span.card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
    }
  }
  .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    
    span.card-title {
      line-height: 48px;
    }
  }
  .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
    
    a {
      color: #ffab40;
      margin-right: 16px;
      transition: color 0.3s ease;
      text-transform: uppercase;
      
      &:hover {
        color: #ffd8a6;
        text-decoration: none;
      }
    }
  }
}
.match-card {
  margin: 10px 0px;
  padding: 10px;
  &.radiant-win {
    border: 1px solid green;
  }
  &.dire-win {
    border: 1px solid red;
  }
  .team-name {
    padding-top: 10px;
    display: block;
    min-height: 50px;
  }
  .match-info {
    padding-top: 20px;
  }
}
[ng-click="go()"] {
  cursor: pointer;
}
dota-match-map {
  display: block;
  position: relative;
  margin-bottom: 10px;
  
  .well {
    padding: 0px;
    position: relative;
    overflow: hidden;
  }
  
  .player-icon {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 0px; height: 0px;
    transition-property: top, left;
    transition-duration: 1s, 1s;
    z-index: 10;
    
    img {
      @padding: 2px;
      @width: 32px + @padding * 2;
      @height: 32px + @padding * 2;
      
      width: @width;
      height: @height;
      display: block;
      margin-top: -@height/2;
      margin-left: -@width/2;
      border-radius: @width / 2;
      padding: @padding;
    }
    
    &.player-radiant img {
      border: 2px solid green;
      background-color: rgba(0,255,0,.3);
      
    }
    &.player-dire img {
      border: 2px solid red;
      background-color: rgba(255,0,0,.3);
    }
    &.death {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }
  
  @mark-size: 12px;
  
  .mark-wrapper {
    display: inline-block;
    position: absolute;
    width: 0; height: 0;
    
    .mark-indicator {
      width: @mark-size;
      height: @mark-size;
      display: block;
      margin-top: -@mark-size/2;
      margin-left: -@mark-size/2;
      border: 1px solid rgba(0,0,0,0.7);
      
      &.mark-tower {
        z-index: 2;
      }
      &.mark-barrack {
        border-left: @mark-size/2 solid transparent;
        border-right: @mark-size/2 solid transparent;
        border-bottom-width: @mark-size;
        border-bottom-style: solid;
        border-top: none;
        background-color: transparent;
        z-index: 1;
      }
    }
    
    &.radiant {
      .mark-tower {
        background-color: green;
      }
      .mark-barrack {
        border-bottom-color: green;
      }
      
      &.tower-ancient-top {
        left: 11%;
        top: 84%;
        transform: rotate(45deg);
      }
      &.tower-ancient-bottom {
        left: 14%;
        top: 87%;
        transform: rotate(45deg);
      }
      &.tower-top-1 {
        top: 39%;
        left: 8%;
      }
      &.tower-top-2 {
        top: 56%;
        left: 8%;
      }
      &.tower-top-3 {
        top: 73%;
        left: 5%;
      }
      &.tower-middle-1 {
        top: 59%;
        left: 39%;
        transform: rotate(45deg);
      }
      &.tower-middle-2 {
        top: 70%;
        left: 27%;
        transform: rotate(45deg);
      }
      &.tower-middle-3 {
        top: 78.5%;
        left: 18.7%;
        transform: rotate(45deg);
      }
      &.tower-bottom-1 {
        top: 92%;
        left: 83%;
      }
      &.tower-bottom-2 {
        top: 92%;
        left: 46%;
      }
      &.tower-bottom-3 {
        top: 92%;
        left: 24%;
      }
      &.barrack-top-ranged {
        top: 77%;
        left: 3%;
      }
      &.barrack-top-melee {
        top: 77%;
        left: 7%;
      }
      &.barrack-middle-ranged {
        top: 80%;
        left: 15%;
        transform: rotate(45deg);
      }
      &.barrack-middle-melee {
        top: 82.5%;
        left: 17.5%;
        transform: rotate(45deg);
      }
      &.barrack-bottom-ranged {
        top: 90%;
        left: 20%;
        transform: rotate(90deg);
      }
      &.barrack-bottom-melee {
        top: 94%;
        left: 20%;
        transform: rotate(90deg);
      }
    }
    
    &.dire {
      .mark-tower {
        background-color: red;
      }
      .mark-barrack {
        border-bottom-color: red;
      }
      
      &.tower-ancient-top {
        top: 15%;
        left: 84%;
        transform: rotate(45deg);
      }
      &.tower-ancient-bottom {
        top: 18%;
        left: 87%;
        transform: rotate(45deg);
      }
      &.tower-top-1 {
        top: 9%;
        left: 18%;
      }
      &.tower-top-2 {
        top: 9%;
        left: 50%;
      }
      &.tower-top-3 {
        top: 9%;
        left: 73%;
      }
      &.tower-middle-1 {
        top: 47%;
        left: 56%;
        transform: rotate(45deg);
      }
      &.tower-middle-2 {
        top: 36%;
        left: 65%;
        transform: rotate(45deg);
      }
      &.tower-middle-3 {
        top: 24.2%;
        left: 78%;
        transform: rotate(45deg);
      }
      &.tower-bottom-1 {
        top: 62%;
        left: 95%;
      }
      &.tower-bottom-2 {
        left: 95%;
        top: 49%;
      }
      &.tower-bottom-3 {
        top: 31%;
        left: 95%;
      }
      &.barrack-top-ranged {
        top: 7%;
        left: 77%;
        transform: rotate(-90deg);
      }
      &.barrack-top-melee {
        top: 11%;
        left: 77%;
        transform: rotate(-90deg);
      }
      &.barrack-middle-ranged {
        top: 20%;
        left: 79%;
        transform: rotate(-135deg);
      }
      &.barrack-middle-melee {
        top: 23%;
        left: 82%;
        transform: rotate(-135deg);
      }
      &.barrack-bottom-ranged {
        top: 27%;
        left: 93%;
        transform: rotate(180deg);
      }
      &.barrack-bottom-melee {
        top: 27%;
        left: 97%;
        transform: rotate(180deg);
      }
    }
  
    &.destroyed .mark-indicator {
      border-color: rgba(255,255,255,0.3);
      background-color: rgba(133, 133, 133, 0.6);
    }
  }

  .dominance-line {
    display: block;
    position: absolute;
    height: 150%;
    width: 4px;
    border-left: 3px solid green;
    border-right: 2px solid red;
    top:0;
    left: 0;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    transform-origin: top left;
    transition: left 500ms ease;
  }
}

dota-match-log .events-list .list-group {
  max-height: 300px;
  overflow-y: scroll;
}

dota-match-chart {
  .btn-group {
    margin: 0px;
  }
}

dota-match-players {
  .table {
    > thead {
    background-color: #009688;
    color: #ffffff;
    
      > tr > th {
        border-bottom: none;
        
        &:not(:first-child) {
          text-align: right;
        }
      }
    }
    > tbody > tr > td {
      vertical-align: middle;
      &:not(:first-child) {
        text-align: right;
      }
    }
  }
}

span.dire-color {
  color: #E30000;
}
span.radiant-color {
  color: #006A00;
}
.leagues {
  .league {
    margin-bottom: 20px;
    
    .description {
      text-align: justify;
      margin: 10px 0px;
      padding-right: 20px;
    }
  }
}
