<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default"
          ng-repeat="type in [['gold', 'Gold'], ['gold_diff', 'Gold Diff.'], ['exp', 'EXP.'], ['exp_diff', 'EXP. Diff.']]"
          ng-click="chart.type = type[0]"
          ng-class='{"btn-primary": chart.type == type[0]}'>
          {{ type[1] }}
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <img class="img-responsive" ng-if="!match"
      src="http://placehold.it/900x400?text=Chart" />
    <div class="chart-container" ng-if="match">
      <highchart id="dota-chart" config="chart.data"></highchart>
    </div>
  </div>
  <div class="panel-footer">
    <div class="text-center">
      <div class="btn-group">
        <a href="#" class="btn btn-default btn-sm"
          ng-class='{"btn-primary": match._manual_time == true}'
          ng-click="setTime(match.duration)">
          Manual
        </a>
        <a href="#" class="btn btn-default btn-sm"
          ng-class='{"btn-primary": match._manual_time == false}'
          ng-click="resetTime()">
          Auto
        </a>
      </div>
    </div>
  </div>
</div>
