<div class="panel panel-primary">
  <div class="panel-heading">MATCH INFO</div>
  <table class="table table-responsive" ng-if="match">
    <tbody>
      <tr>
        <td width="45%">
          <img src="https://placeholdit.imgix.net/~text?txtsize=48&txt=LiveDota&w=250&h=150&txttrack=0"
            ng-if="!match.radiant_team || match.radiant_team.team_logo == 0" class="img-responsive col-md-12" />
          <img ng-src="/images/dota/teams/team_{{ match.radiant_team.team_id }}.png"
            err-src="https://placeholdit.imgix.net/~text?txtsize=48&txt=LiveDota&w=250&h=150&txttrack=0"
            ng-if="match.radiant_team && match.radiant_team.team_logo != 0" class="img-responsive col-md-12"  />
        </td>
        <td width="10%" class="text-center" rowspan="2" style="vertical-align: middle;">
          {{ match.current_score.radiant || 0 }}&nbsp;-&nbsp;{{ match.current_score.dire || 0 }}
        </td>
        <td width="45%">
          <img src="https://placeholdit.imgix.net/~text?txtsize=48&txt=LiveDota&w=250&h=150&txttrack=0"
            ng-if="!match.dire_team || match.dire_team.team_logo == 0" class="img-responsive col-md-12" />
          <img ng-src="/images/dota/teams/team_{{ match.dire_team.team_id }}.png"
            err-src="https://placeholdit.imgix.net/~text?txtsize=48&txt=LiveDota&w=250&h=150&txttrack=0"
            ng-if="match.dire_team && match.dire_team.team_logo != 0" class="img-responsive col-md-12" />
        </td>
      </tr>
      <tr>
        <td class="text-center">{{ match.radiant_team.team_name || "[Radiant]" }}</td>
        <td class="text-center">{{ match.dire_team.team_name || "[Dire]" }}</td>
      </tr>
      <tr>
        <th>Match ID</th><td colspan="2">{{ match.match_id }}</td>
      </tr>
      <tr>
        <th>Status</th><td colspan="2">{{ getStatus() }}</td>
      </tr>
      <tr ng-if="match.completed">
        <th>Winner</th><td colspan="2">{{ match.radiant_win ? 'Radiant' : 'Dire' }}</td>
      </tr>
      <tr ng-if="leagues[match.league_id]">
        <th>League</th><td colspan="2">{{ leagues[match.league_id].name }}</td>
      </tr>
      <tr>
        <th>Series</th><td colspan="2">{{ match.series_type | series_type }}</td>
      </tr>
      <tr>
        <th>Started</th><td colspan="2">{{ match.started_at | date:'dd/MM/yyyy HH:mm'}}</td>
      </tr>
      <tr>
        <th>Spectator</th><td colspan="2">{{ match.spectators }}</td>
      </tr>
      <tr ng-if="match.roshan_respawn_timer > 0">
        <th>Roshan</th><td colspan="2">Dead ({{ match.roshan_respawn_timer | time }})</td>
      </tr>
      <tr ng-if="match.roshan_respawn_timer == 0">
        <th>Roshan</th><td colspan="2">Alive</td>
      </tr>
      <tr>
        <th>Networth</th><td colspan="2">{{ getNetWorthAdv(match) }}</td>
      </tr>
    </tbody>
  </table>
</div>
