<div class="progress" ng-if="!match.timeline && match._loading_scoreboard">
  <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
</div>
<div class="panel panel-primary events-list" ng-if="match.timeline">
  <div class="panel-heading">
    MATCH EVENTS
  </div>
  <div class="list-group scrollbar-dynamic" jquery-scrollbar>
    <div class="list-group-item"
      ng-repeat-start="time in match.timeline.duration.slice().reverse() track by $index"
      ng-if="match.timeline.events.slice().reverse()[$index].length > 0">
      <h4 class="list-group-item-heading">{{ time | time }}</h4>
      <ul>
        <li ng-repeat="event in match.timeline.events.slice().reverse()[$index]">
          <span ng-if="event.type == 'kills'">
            <span ng-include="'player_name.html'"></span>
            killed
            {{ event.kills == 1 ? 'a' : event.kills }}
            hero{{ event.kills > 1 ? 'es' : ''}}
          </span>
          <span ng-if="event.type == 'death'">
            <span ng-include="'player_name.html'"></span>
            died
          </span>
          <span ng-if="event.type == 'bought_back'">
            <span ng-include="'player_name.html'"></span>
            bought back to the game
          </span>
        </li>
      </ul>
    </div>
    <div ng-repeat-end ng-if="match.timeline.events.slice().reverse()[$index].length > 0"
      class="list-group-separator"></div>
  </div>
</div>
<script type="text/ng-template" id='player_name.html'>
  <span  ng-class="{'radiant-color': match.players[event.account_id].team == 0, 'dire-color': match.players[event.account_id].team == 1}">
    {{ match.players[event.account_id].name }}
  </span>
</script>
