<script type="text/ng-template" id="/tooltip.html">
  <span><b>{{ player.name }}</b><br />{{ heroes[player.hero_id].dname }}</span>
</script>
<div class="well map-wrapper">
  <img src="/images/map.jpg" class="img-responsive map-background"/>
  <div class="player-icon"
    ng-repeat="player in match.players" ng-if="(player.team == 0 || player.team == 1) && player.hero_id > 0"
    ng-class='{"player-radiant": player.team == 0, "player-dire": player.team == 1, "death": match.timeline.players[player.account_id].respawn_timer[match.timeline.duration.indexOf(match._current_time)] > 0}'
    ng-mouseenter="showMap(player)"
    ng-mouseout="hideMap(player)"
    style="top: {{ position(player).top }}%; left: {{ position(player).left }}%;">
    <img ng-src="/images/icon/{{ heroes[player.hero_id].name }}.png"
      title="{{ heroes[player.hero_id].dname }}"
      tooltip-template="'/tooltip.html'" />
  </div>

  <div ng-repeat="mark in status"
    class="mark-wrapper {{mark.team}} {{mark.type}}-{{mark.name}}"
    ng-class="{destroyed: mark.destroyed}"
    ng-if="match">
    <i class="mark-indicator mark-{{mark.type}}"></i>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: {{ dominance().radiant }}%"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger" style="width: {{ dominance().dire }}%; display: block; float: right;"></div>
</div>
