<div class="panel panel-default">
  <table class="table-stripped table-hover table">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Level</th>
        <th>Gold</td>
        <th>Net</th>
        <th>K/D/A</th>
        <th>GPM/XPM</th>
        <th>LH/DN</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in match.players._array | orderBy:'team'"
        ng-if="player.team == 0 || player.team == 1"
        ng-mouseover="showMap(player)"
        ng-mouseout="hideMap(player)">
        <td><img ng-src="/images/icon/{{ heroes[player.hero_id].name }}.png" width="24" title="{{ heroes[player.hero_id].dname }}" />
          <span ng-class="{'radiant-color': player.team == 0, 'dire-color': player.team == 1}">{{ player.name }}<span>
          <br />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item0')].name }}_lg.png" title="{{ items[get(player, 'item0')].dname }}" height="18" />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item1')].name }}_lg.png" title="{{ items[get(player, 'item1')].dname }}" height="18" />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item2')].name }}_lg.png" title="{{ items[get(player, 'item2')].dname }}" height="18" />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item3')].name }}_lg.png" title="{{ items[get(player, 'item3')].dname }}" height="18" />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item4')].name }}_lg.png" title="{{ items[get(player, 'item4')].dname }}" height="18" />
          <img ng-src="/images/dota/items/{{ items[get(player, 'item5')].name }}_lg.png" title="{{ items[get(player, 'item5')].dname }}" height="18" />
        </td>
        <td>{{ get(player, 'level') }}</td>
        <td>{{ get(player, 'gold') }}</td>
        <td>{{ get(player, 'net_worth') }}</td>
        <td>{{ get(player, 'kills') }} / {{ get(player, 'death') }} / {{ get(player, 'assists') }}</td>
        <td>{{ get(player, 'gold_per_min') }} / {{ get(player, 'xp_per_min') }}</td>
        <td>{{ get(player, 'last_hits') }} / {{ get(player, 'denies') }}</td>
      </tr>
    </tbody>
  </table>
</div>
