<div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon">Match ID</span>
      <input type="text" class="form-control"
        ng-model="matches._search_id"
        ng-minlength="10" ng-maxlength="10"
        ng-pattern="/^[0-9]+$/">
      <span class="input-group-addon" title="Open" ng-click="go()"><i class="glyphicon glyphicon-menu-right"></i></span>
    </div>
    <br />
    <div class="panel panel-primary">
      <div class="panel-heading">
        RECENT MATCHES
      </div>
      <table class="table table-responsive table-hover match-list">
        <tbody>
          <tr ng-repeat="match in matches._array | filter:{completed:true} | orderBy:'-started_at' | limitTo:9"
            ui-sref-active="active" ui-sref=".match({match_id: match.match_id})"
            ng-class="{active: match.match_id == matches._current_completed_id}"
            class="match-item">
            <td width="40%">{{ match.radiant_team.team_name || "[Radiant]" }}</td>
            <td width="20%" class="text-center">{{ match.current_score.radiant || 0 }}&nbsp;-&nbsp;{{ match.current_score.dire || 0}}</td>
            <td width="40%">{{ match.dire_team.team_name || "[Dire]" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <dota-match-log match="matches[matches._current_completed_id]" ng-if="matches._current_completed_id"></dota-match-log>
  </div>
  <div class="col-md-3" ng-if="matches._current_completed_id">
    <dota-match-map match="matches[matches._current_completed_id]"></dota-match-map>
    <dota-match-info match="matches[matches._current_completed_id]"></dota-match-info>
  </div>
  <div class="col-md-6" ng-if="matches._current_completed_id">
    <dota-match-chart match="matches[matches._current_completed_id]"></dota-match-chart>
    <dota-match-players match="matches[matches._current_completed_id]"></dota-match-players>
  </div>
</div>
